@charset "UTF-8";

// inline-block
// ie6-ie7  display:inline;zoom:1
@mixin display($type:block) {
	display: $type;
	@if $lte7 && $type==inline-block{
		*display: inline;*zoom:1;
	}
}
%display{
	@include display;
}

// block 居中
@mixin center-block{
    margin-left: auto;
    margin-right: auto;
}
%center-block{
    @include center-block;
}

// float left & right
@mixin float($float:left) {
    float: $float;
    @if $lte7 {
        display: inline;
    }
}
%float{
    @include float;
}

// clearfix
// 闭合子元素的浮动
@mixin clearfix {
    @if $lte7 {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%clearfix{
    @include clearfix;
}

// Hide from both screenreaders and browsers: h5bp.com/u
// 既隐藏于视觉也隐藏于屏幕浏览器
@mixin hidden {
    display: none !important;
    visibility: hidden;
}
%hidden{
    @include hidden;
}

// Hide only visually, but have it available for screenreaders
// 只隐藏于视觉，屏幕浏览器可以阅读
@mixin visually-hidden {
    position: absolute;
    @if $lte7 {
        clip:rect(1px 1px 1px 1px);//ie6/7
    }
      clip:rect(1px, 1px, 1px, 1px);//standard
}
%visually-hidden{
    @include visually-hidden;
}

// Text overflow
// 元素可以设置宽度才可应用省略号
%ellipsis-basic{
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap; 
}
@mixin ellipsis($width:100%) {
  	@extend %ellipsis-basic;
  	width:$width;
}

// Opacity
// lte8使用filter兼容
@mixin opacity($opacity:50) {
    opacity: $opacity / 100;
    @if $filter{
        filter: alpha(opacity=$opacity);
    }
}
%opacity{
    @include opacity;
}

// 箭头
%triangle-basic{
    content:"";
    height: 0;
    width: 0;
    overflow:hidden;
}
@mixin triangle($direction, $size, $borderColor ) {
    @extend %triangle-basic;
    @if $direction == top {
        border-bottom:$size solid $borderColor;
        border-left:$size dashed transparent;
        border-right:$size dashed transparent;
    } 
    @else if $direction == right {
        border-left:$size solid $borderColor;
        border-top:$size dashed transparent;
        border-bottom:$size dashed transparent;
    } 
    @else if $direction == bottom {
        border-top:$size solid $borderColor;
        border-left:$size dashed transparent;
        border-right:$size dashed transparent;
    } 
    @else if $direction == left {
        border-right:$size solid $borderColor;
        border-top:$size dashed transparent;
        border-bottom:$size dashed transparent;
    }
}

//黑色背景色半透明
@mixin bgcolor-alpha($bgcolor: rgba(0,0,0,.5)){
    @if $filter{
        filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#{ie-hex-str($bgcolor)}', endColorstr='#{ie-hex-str($bgcolor)}');
    }@else{
        background-color: #333;
    }
    background-color:$bgcolor;
}
%bgcolor-alpha{
    @include bgcolor-alpha;
}

// icons
%icons {
    @extend %display;
    background-repeat:no-repeat;
    background-image: url($iconsPath);
    text-indent:-99999px;
    overflow:hidden;
}

//border
@mixin bor($size: 1px, $style: solid, $dir:top, $color:#fff) {
        border-#{$dir}-width: $size;
        border-#{$dir}-color: $color;
        border-#{$dir}-style: $style;
}