.promo {
    width: $fullWidth;
    height: 400px;
    position: relative;
    overflow: hidden;
    .promo-bd {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -960px;
        width: 1920px;
        height: 400px;
        .promo-item {
            @extend %display;
        }
    }
    .promo-page {
        position: absolute;
        z-index: 100;
        bottom: 22px;
        width: $fullWidth;
        text-align: center;
        a {
            @extend .site-icon;
            @extend .site-icon-page;
            @include display(inline-block);
            margin:0 5px;
            &.activeSlide,
            &:hover {
                @extend .site-icon-page-hover;
            }
        }
    }
}